<!DOCTYPE html>
<html lang="vi">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/register.css" />
</head>
<body>
    <!-- Login Form -->
    <form method="post" action="/signup">
        <h2>Sign Up</h2>
        <p>
            <label for="username" class="floatLabel">Username</label>
            <input id="username" name="username" type="text">
        </p>
        <p>
            <label for="CustomName" class="floatLabel">Custom Name</label>
            <input id="CustomName" name="CustomName" type="text">
        </p>
        <p>
            <label for="password" class="floatLabel">Password</label>
            <input id="password" name="password" type="password">
            <span>Enter a password longer than 8 characters</span>
        </p>
        <p>
            <label for="confirm_password" class="floatLabel">Confirm Password</label>
            <input id="confirm_password" name="confirm_password" type="password">
            <span>Your passwords do not match</span>
        </p>
        <p>
            <button type="submit" id="submit">Create My Account</button>
        </p>
        <div id="formFooter">
            <a class="underlineHover" href="/login">Login</a>
        </div>
    </form>

    

    <script src="js/register.js"></script>
</body>
</html>

